body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f0f0f0;
}

#chat-box {
  width: 70%;
  margin: auto;
  background: #fff;
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

#chat-container {
    display: flex; /* Active le mode colonne */
    height: 100vh;
    width: 100%;
}

#sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-right: 1px solid #ccc;
}

#chat-page {
    flex: 1; /* Prend tout le reste de la place */
    display: flex;
    flex-direction: column;
    padding: 20px;
}