<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="chat-container">
        
        <div id="sidebar">
            <h3>En ligne 🟢</h3>
            <ul id="users-list">
                </ul>
            <hr>
            <div id="current-user">
                Moi : <b th:text="${username}">Invité</b>
            </div>
            <form action="/logout" method="post" style="margin-top: 10px;">
                <button type="submit" class="logout-btn">Déconnexion</button>
            </form>
        </div>

        <div id="chat-page">
        <div id="chat-header-container" style="border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px;">
            <h2 id="chat-header">Chat Général</h2>
        </div>
            
            <div id="chat-box"></div>

            <div id="message-controls">
                <input id="message" type="text" placeholder="Votre message...">
                <button onclick="sendMessage()">Envoyer</button>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="js/chat.js"></script>

</body>
</html>